@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body{
	font-family: 'Open sans', Arial, sans-serif;
	background-size: 100% !important;
}

body.home{
	background: #e0dbc4;
}


p{
	font-size: 13px;
	color: #909090;
	line-height: 18px;
}

/* Header */
header{
	background: #fff;
	padding: 20px 0 20px 0;
	
}

header .col{
	height: inherit;
}

img.header-logo {
    margin-top: 7px;
}

header address{
	color: #b3ae98;
	margin: 15px 0 0 0 ;
	text-align: center;
}

header address p{
	color: #333;
    font-size: 33px;
    line-height: 39px;
	font-weight: bold;
}



/* Body */
section.body{
	background: #fff;

}

section.body div {
    background: #e7ecef;
    /*padding: 10px 5px 3px 7px;*/
}

.row.itemtitle {
	padding: 8px;
    font-weight: bold;
    color: #658191;
}

.row.itemdescription {
	padding: 8px;
    font-size: 14px;
    color: #658191;
    font-weight: bold;
}

.row.total_of_items {
	border-top: 1px solid #44606f;
	padding: 8px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
	
}

section.body.container.console_extras {
    margin-top: 10px;
    margin-bottom: 10px;
}

section.body.container.television_extras {
    margin-top: 10px;
    margin-bottom: 10px;
}

section.body.container.microwave_extras {
    margin-top: 10px;
    margin-bottom: 10px;
}


.body h1{
	font-family: 'Montserrat', 'Open sans', sans-serif;
	font-weight: bold;
	/*font-size: 32px;*/
	 /* 34px */
	font-size: 26px;
	letter-spacing: -2px;
}

.body h2{
	font-family: 'Montserrat', 'Open sans', sans-serif;
	font-weight: normal;
	color: #30363a;
	font-size: 21px; /* 26px */
	letter-spacing: -1px;
}

.body h3{
	font-family: 'Montserrat', 'Open sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #30363a;
}

.extras_details {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #658191;
}

.row.general_item_description_price {
	padding: 8px;
    font-size: 14px;
    color: #658191;
    font-weight: bold;
	margin-top:1px;
	margin-bottom:1px;
}
