@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body{
	font-family: 'Open sans', Arial, sans-serif;
	background-size: 100% !important;
}

body.home{
	background: #e0dbc4;
	/*background:url(../images/home-siteoutofbound-bg.jpg) no-repeat scroll top center #e0dbc4;*/
}

body.accommodation{
	background: #e0dbc4;
	/*background:url(../images/accommodation-siteoutofbound-bg.jpg) no-repeat scroll top center #e0dbc4;*/
}

body.photo-gallery{
	background: #e0dbc4;
	/*background:url(../images/photogallery-siteoutofbound-bg.jpg) no-repeat scroll top center #e0dbc4;*/
}


p, .well,
.collapse .well p,
.body ul li > span,
.body ul li{
	font-size: 13px;
	color: #909090;
	line-height: 18px;
}

.body ul{
	list-style-type: none;
}

.body ul li{
	position: relative;
	color: #909090;
}

.body ul li:before{
	position: absolute;
	top: 8px;
	left: -12px;
	content: '';
	height: 5px;
	width: 5px;
	background-color: #aa9c5e;
	border-radius: 5px;
}


.btn,
a.new-home{
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary,
.big-banner aside button:hover, header .book-now:hover, .big-banner aside button.book-now:hover, .inner .body button:hover {
	background: #017EAB;
}

/* Collapse */

.well{
	padding: 20px 0 0 0 ;
	background: transparent;
	border: 0 none;
	box-shadow: none;
}

/* Header */
header{
	background: #fff;
	padding: 20px 0 20px 0;
	
}

header .col{
	height: inherit;
}

img.header-logo {
    margin-top: 7px;
}

header address{
	color: #b3ae98;
	margin: 15px 0 0 0 ;
	text-align: center;
}

header address p{
	color: #333;
    font-size: 33px;
    line-height: 39px;
	font-weight: bold;
}



/* Body */
section.body{
	background: #fff;

}

section.body div {
    background: #e7ecef;
    /*padding: 10px 5px 3px 7px;*/
}

.row.itemtitle {
	padding: 8px;
    font-weight: bold;
    color: #658191;
}

.row.itemdescription {
	padding: 8px;
    font-size: 14px;
    color: #658191;
    font-weight: bold;
}

.row.total_of_items {
	border-top: 1px solid #44606f;
	padding: 8px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
	
}

section.body.container.console_extras {
    margin-top: 10px;
    margin-bottom: 10px;
}

section.body.container.television_extras {
    margin-top: 10px;
    margin-bottom: 10px;
}

section.body.container.microwave_extras {
    margin-top: 10px;
    margin-bottom: 10px;
}


.body h1{
	font-family: 'Montserrat', 'Open sans', sans-serif;
	font-weight: bold;
	/*font-size: 32px;*/
	 /* 34px */
	font-size: 26px;
	letter-spacing: -2px;
}

.body h2{
	font-family: 'Montserrat', 'Open sans', sans-serif;
	font-weight: normal;
	color: #30363a;
	font-size: 21px; /* 26px */
	letter-spacing: -1px;
}

.body h3{
	font-family: 'Montserrat', 'Open sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #30363a;
}

.extras_details {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #658191;
}

.row.general_item_description_price {
	padding: 8px;
    font-size: 14px;
    color: #658191;
    font-weight: bold;
	margin-top:1px;
	margin-bottom:1px;
}

/* footer */
footer{

}

footer div{
	background: #e7ecef;
	padding: 20px 0;
}

footer ul li{
	list-style: none;
	border: none;
	line-height: 20px; /* 24px; */
}

footer ul li a{
	font-size: 12px;
	font-family: 'Montserrat', 'Open-sans', Arial, sans-serif;
	font-weight: bold;
	color: #7a8388;
}

.copyright,
.copyright a{
	color: #9b9888;
	font-size: 12px;
}


/* Inner Pages */

/*
.inner .big-banner,
.inner .big-banner aside{
	min-height: 325px;
	max-height: 325px;
}*/

.inner .best-rate-seal{
	margin: 0 0 35px 0;
}

.inner .big-banner h2{ display: none; }

.inner .main article.image-holder{
	text-align: center;
}

.inner .main article .image-holder img{
	margin: 0 0 20px;
}

.inner .main article h2{
	margin-top: 0;
}

.inner .body button{
	margin-bottom: 25px;
}


.thumbnail>img{
	height: 135px;
}

.slider_sitename {
	margin-top: 10px; margin-bottom: 35px;
}

@media (min-width: 320px){ /* Small size screen devices */
		.body h1 {
			font-size: 18px;
			letter-spacing: 0px;
		}
		.big-banner aside button {
			height: 28px;
		}

	}


a , a:active , a.active, li.active{
    outline: none;
}

.btn:focus,.btn:active {
   outline: none !important;
}

div.small a.travelreel {
/*    all: none !important;*/
    display: inline !important;
/*    position: relative !important;*/
    width: auto !important;
    height: auto  !important;
}
div.small a.travelreel img.travel_reel_holder {
    height: auto;
    max-width: 100%;
}
div.small a.travelreel img.travel_reel_play {
/*    height: auto;*/
    top:10% !important;
}
.news-date {
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 32px;
}
.news-home-header{
background-color: #D9E7EF;
color: #658191;
    display: block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px 7px 15px 10px;
    text-decoration: none;
    border-bottom: 1px solid #E0E0E0;
}
a.new-home {
    background-color: #f7f7f7;
    color: #337ab7;
    display: block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #E0E0E0;
    padding: 15px 7px 15px 10px;
    text-decoration: none;
}
a.new-home:hover {
    background-color: #017EAB;
    color: #fff;
    text-decoration: none;
}
.cms_content > ul {
    color: #909090;
    font-size: 16px;
    line-height: 30px;
}
img.custome_youtube_thumb {
	width: 100%;
}
.custome_youtube_popuplink {
    position: absolute;
    display: block;
    background: url(../images/youtube_red.png) repeat scroll 0 0 transparent;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
}

a.custome_youtube_popuplink:hover{
	background: url(../images/youtube_black.png) repeat scroll 0 0 transparent;
}

.left_right_margin_0 {
	padding-left: 0px;
	padding-right: 0px;
}

